name: renovate

on:
  workflow_dispatch:
  push:
    branches:
      - chore/setup-renovate-github-action
  schedule:
    - cron: '0 3 * * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_PLATFORM: github
          RENOVATE_REPOSITORIES: ${{ github.repository }}